@model Sklep.ViewModels.ShoppingCartViewModel
<h2> Shopping Cart : All teh product </h2>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Seleceted Amount</th>
        <th>Product</th>
        <th class="text-right">Price</th>
        <th class="text-right">Subtotal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
    {
        <tr>
            <td class="text-center">@item.Amount</td>
            <td class="text-left">@item.Product.Name</td>
            <td class="text-right">@item.Product.Price.ToString("C")</td>
            <td class="text-right">
                @((item.Amount * item.Product.Price).ToString("C"))
            </td>
        </tr>  
    }
  
    </tbody>
    <tfooter>
        <td colspan="3" class="text-right">Total</td>
        <td  class="text-right">@Model.ShoppingCartTotal.ToString("C")</td>
    </tfooter>

</table>
